@import 'variables';
@import 'mixins';

main {
  flex-grow: 1;
  background-image: url(../images/Fondo2.gif);
  background-size: 500px;
  background-attachment: fixed;
  padding: 100px 10%;
}

main > aside{
  position: fixed;
  z-index: 1;
}

main > form {
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: $rich-black;
  padding: 20px 50px;
  border-radius: 3px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 30px 0px $ecru;
}

main > form > label {
  @include text-style($ecru, 14px);
}

main > form > input {
  padding: 5px;
  border-radius: 2px;
  margin: 15px 0;
  width: 100%;
  border: 0px;
  background-color: $baby-powder;
  border: 2px solid $ecru;
}

main > form > input:focus {
  outline: none;
  border: 2px solid $dun;
  box-shadow: 0px 0px 10px 0px $ecru;
}

.error{
  visibility: hidden;
  color: red;
  margin: auto;
}

.mandatory{
  color: red;
}

main > form > button {
  @include button($ecru, $rich-black, $ecru, $dun);
}