<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>

<body>
    <header>

        <!-- Logo del sitio -->
        <div class="header-logo">
            <a href="../index.html">
                <img src="../images/logo.png" />
            </a>
        </div>

        <!--Logueo -->
        <div class="login">
            <a href="./login.html"><img src="../images/login-beige.png"/></a>
        </div>

        <!-- Menú de navegación ordenador-->
        <div class="nav-desktop">

            <!-- home -->
            <div class="home">
                <a href="../index.html">Inici</a>
            </div>

            <!-- history -->
            <div class="history">
                <a href="/student070/dwes/pages/register.php">Història</a>
            </div>

            <!-- portfolio -->
            <div class="portfolio">
                <a href="../views/portfolio.html">Cartera</a>
            </div>

            <!-- news -->
            <div class="news">
                <a href="/student070/dwes/pages/register.php">Notícies</a>
            </div>

            <!-- voltant de la balena -->
            <div class="voltant_balena">
                <a href="/student070/dwes/pages/register.php">Al voltant de la balena</a>
            </div>

        </div>

    <!-- Menú de navegación movil-->
    <nav class="nav-mobile">
        <img src="../images/menu.png" alt="Options menu">
        <ul>
            <li><a href="../index.html">Inici</a></li>
            <li><a href="#rooms">Història</a></li>
            <li><a href="../views/portfolio.html">Cartera</a></li>
            <li><a href="#contact">Notícies</a></li>
            <li><a href="#contact">Al voltant de la balena</a></li>
        </ul>
    </nav>
</header>

    <main>

        <form action="" name="register" method="GET">

            <label for="email">Correu</label>
            <input type="email" id="email" name="email" required>
      
            <label for="password">Contrasenya</label>
            <input type="text" id="password" name="password" pattern=[A-Z\sa-z]{8,20} required>
      
            <button type="submit">Enviar</button>
      
        </form>
        
    </main>

    <footer>
        <div>
          <a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png"/></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png"/></a>
          <a href="https://www.twitter.com/" target="_blank"><img src="../images/x.png"/></a>
          <a href="https://www.whatsapp.com/" target="_blank"><img src="../images/whatsapp.png"/></a>
        </div>
        <div>
            <ul>
                <li><h3>About The Met</h3></li>
                <li><h3>Mission and History</h3></li>
                <li><h3>Collection Areas</h3></li>
                <li><h3>Conservation Departments</h3></li>
                <li><h3>Accessibility</h3></li>
                <li><h3>Press</h3></li>
            </ul>

            <ul>
                <li><h3>Support</h3></li>
                <li><h3>Membership</h3></li>
                <li><h3>Host an Event</h3></li>
                <li><h3>Travel with The Met</h3></li>
                <li><h3>Corporate Support</h3></li>
            </ul>
    
            <ul><h3>Others</h3>
                <li><a href="#" target="_blank">Volunteers</a></li>
                <li><a href="#" target="_blank">Fellowships</a></li>
                <li><a href="#" target="_blank">Internships</a></li>
            </ul>

        </div>
    </footer>

</body>

</html>