<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>

<body>
    <header>

            <!-- Logo del sitio -->
            <div class="header-logo">
                <a href="#">
                    <img src="../images/logo-beige-150px.png" />
                </a>
            </div>

            <!--Logueo -->
            <div class="login">
                <a href="/student070/dwes/pages/login.php"><img src="../images/login-beige.png"/></a>
            </div>

            <!-- Menú de navegación ordenador-->
            <div class="nav-desktop">

                <!-- home -->
                <div class="home">
                    <a href="/student070/dwes/pages/login.php">Inici</a>
                </div>

                <!-- history -->
                <div class="history">
                    <a href="/student070/dwes/pages/register.php">Història</a>
                </div>

                <!-- portfolio -->
                <div class="portfolio">
                    <a href="/student070/dwes/pages/book-now.php">Cartera</a>
                </div>

                <!-- news -->
                <div class="news">
                    <a href="/student070/dwes/pages/register.php">Notícies</a>
                </div>

                <!-- voltant de la balena -->
                <div class="voltant_balena">
                    <a href="/student070/dwes/pages/register.php">Voltant de la balena</a>
                </div>

            </div>

        <!-- Menú de navegación movil-->
        <nav class="nav-mobile">
            <img src="../images/menu-beige.png" alt="Options menu">
            <ul>
                <li><a href="/student070/dwes/index.php">Inici</a></li>
                <li><a href="#rooms">Història</a></li>
                <li><a href="#about">Cartera</a></li>
                <li><a href="#contact">Notícies</a></li>
                <li><a href="#contact">Voltant de la balena</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <form action="" name="register" method="GET">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
      
              <label for="password">Password</label>
              <input type="text" id="password" name="password" pattern=[A-Z\sa-z]{8,20} required>
      
              <button type="submit">Submit</button>
      
            </form>
            <div>
              <a href="/student070/dwes/pages/register.php">or register</a>
              <a href="/student070/dwes/pages/login.php">or login</a>
            </div>
        
    </main>

    <footer>
        <div>
          <a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png"/></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png"/></a>
          <a href="https://www.twitter.com/" target="_blank"><img src="../images/x.png"/></a>
          <a href="https://www.whatsapp.com/" target="_blank"><img src="../images/whatsapp.png"/></a>
        </div>
        <div>
            <ul>
                <li><h3>Gastos de envío</h3></li>
                <li><h3>Política de devoluciones</h3></li>
                <li><h3>Sellos de calidad</h3></li>
                <li><h3>Condiciones de compra</h3></li>
                <li><h3>Contacto</h3></li>
                <li><h3>FAQ o preguntas frecuentes</h3></li>
            </ul>
    
            <ul><h3>Documents</h3>
                <li><a href="#" target="_blank">Installation manual</a></li>
                <li><a href="#" target="_blank">Tecnical manual</a></li>
                <li><a href="#" target="_blank">User manual</a></li>
            </ul>

        </div>
    </footer>

</body>

</html>