<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../tailwind/output.css">
    <link rel="stylesheet" href="../scss/header-footer.css">
    <link rel="stylesheet" href="../scss/news.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&" />
    <title>New password</title>
</head>

<body class="flex h-full">
    <header>
        <!-- Logo del sitio -->
        <div class="header-logo">
            <a href="../index.html">
                <img src="../images/logo.png" alt="Logo" />
            </a>
        </div>

        <!--Logueo -->
        <div class="login">
            <a href="./login.html"><img src="../images/login.png" alt="Login button" /></a>
        </div>

        <!-- Menú de navegación ordenador-->
        <nav class="nav-desktop">

            <!-- home -->
            <div class="home">
                <a href="../index.html">Inici</a>
            </div>

            <!-- history -->
            <div class="history">
                <a href="/student070/dwes/pages/register.php">Història</a>
            </div>

            <!-- portfolio -->
            <div class="portfolio">
                <a href="./portfolio.html">Muntatge</a>
            </div>

            <!-- news -->
            <div class="news">
                <a href="./news.html">Notícies</a>
            </div>

            <!-- voltant de la balena -->
            <div class="voltant_balena">
                <a href="./al-voltant-de-la-balena.html">Al voltant de la balena</a>
            </div>

        </nav>

        <!-- Menú de navegación movil-->
        <nav class="nav-mobile">
            <img src="../images/menu.png" alt="Options menu" class="toggle-image" id="toggleButton">
            <section class="dropdown-content" id="dropdownContent">
                <h2 class="indicator-mobile">Notícies</h2>
                <button class="selected" onclick="window.location.href='../index.html'">Inici</button>
                <button class="selected" onclick="window.location.href='#rooms'">Història</button>
                <button class="selected" onclick="window.location.href='./portfolio.html'">Muntatge</button>
                <button class="selected" onclick="window.location.href='./news.html'">Notícies</button>
                <button class="selected" onclick="window.location.href='./al-voltant-de-la-balena.html'">Al voltant de
                    la
                    balena</button>
            </section>
        </nav>

    </header>

    <aside>
        <button class="accessibility-button" id="accessibility-button"><span
                class="material-symbols-outlined">accessibility_new</span></button>

        <section class="accessibility-options" id="accessibility-options">

            <button class="selected" id="grayscale">
                <span class="material-symbols-outlined">filter_b_and_w</span>
                <span class="nombre-button">grayscale</span>
            </button>

            <button class="selected" id="dark_contrast">
                <span class="material-symbols-outlined">contrast</span>
                <span class="nombre-button">dark contrast</span>
            </button>

            <button class="selected" id="light_contrast">
                <span class="material-symbols-outlined">contrast</span>
                <span class="nombre-button">light contrast</span>
            </button>

            <button class="selected" id="high_saturation">
                <span class="material-symbols-outlined">opacity</span>
                <span class="nombre-button">high saturation</span>
            </button>

            <button class="selected" id="low_saturation">
                <span class="material-symbols-outlined">opacity</span>
                <span class="nombre-button">low saturation</span>
            </button>


            <div class="font-settings">
                <label for="font-size">Font Size (em):</label>
                <input type="range" id="font-size" name="font-size" min="0.5" max="3" step="0.1" value="1">

                <label for="line-spacing">Line Spacing (em):</label>
                <input type="range" id="line-spacing" name="line-spacing" min="0.5" max="2" step="0.1" value="1.5">

                <label for="word-spacing">Word Spacing (em):</label>
                <input type="range" id="word-spacing" name="word-spacing" min="0.1" max="1.5" step="0.1" value="0.3">

                <label for="letter-spacing">Letter Spacing (em):</label>
                <input type="range" id="letter-spacing" name="letter-spacing" min="0.01" max="0.2" step="0.01"
                    value="0.05">
            </div>
        </section>
    </aside>

    <main class="flex flex-wrap gap-4 p-4 flex-grow h-full justify-center items-center">

        <div
            class="flex justify-center flex-col bg-rich-black max-w-96 h-80 p-7 flex-grow rounded shadow-[0_0_30px_0px_#BFA473]">
            <div>
                <label class="text-ecru">Contrasenya<span class="text-red-500">*</span></label>
                <input class="w-full bg-baby-powder my-3 mb-7 p-1 rounded border-solid border-2 border-ecru focus:outline-none transition-all duration-300 focus:shadow-[0_0_10px_0px_#BFA473]"
                type="password" id="password" name="password" required aria-required="true"
                autocomplete="current-password" placeholder="Contrasenya" required>
            </div>
            <div>
                <label class="text-ecru">Confirma contrasenya<span class="text-red-500">*</span></label>
                <input class="w-full bg-baby-powder my-3 mb-5 p-1 rounded border-solid border-2 border-ecru focus:outline-none transition-all duration-300 focus:shadow-[0_0_10px_0px_#BFA473]"
                    type="password" id="new-password" name="password" required aria-required="true"
                    autocomplete="new-password" placeholder="Contrasenya" required>
            </div>
            <small class="text-red-600 m-auto invisible" id="error">Password does not match</small>
            <button
                class="bg-ecru block w-28 p-1 m-auto mt-9 mb-3 rounded transition-all duration-300 hover:shadow-[0_0_10px_0px_#BFA473]"
                type="submit" id="submit">
                Enviar
            </button>

        </div>

    </main>

    <footer>
        <!-- Redes Sociales -->
        <div>
            <nav aria-label="Social media links">
                <ul>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png"
                            alt="Facebook logo" /></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png"
                            alt="Instagram logo" /></a>
                    <a href="https://www.twitter.com/" target="_blank"><img src="../images/x.png"
                            alt="Twitter logo" /></a>
                    <a href="https://www.whatsapp.com/" target="_blank"><img src="../images/whatsapp.png"
                            alt="Whatsapp logo" /></a>
                </ul>
            </nav>
        </div>

        <!-- Secciones de navegación del sitio -->
        <div>
            <nav aria-label="Site navigation">
                <ul>
                    <li>
                        <h3><a href="#">About The Met</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Mission and History</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Collection Areas</a></h3>
                    </li>
                </ul>
            </nav>

            <nav aria-label="Support section">
                <ul>
                    <li>
                        <h3><a href="#">Membership</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Host an Event</a></h3>
                    </li>
                </ul>
            </nav>

            <nav aria-label="Other sections">
                <ul>
                    <li>
                        <h3><a href="#">privacy policies and coockies</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Fellowships</a></h3>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>

    <script src="../js/change-password.js"></script>
    <script src="../js/desplegable.js"></script>
    <script src="../js/desplegable-accessibility.js"></script>

</body>

</html>