@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Filtros */
.grayscale {
  filter: grayscale(100%);
}

.dark-contrast {
  filter: contrast(150%) brightness(50%);
}

.light-contrast {
  filter: contrast(120%) brightness(150%);
}

.high-saturation {
  filter: saturate(150%);
}

.low-saturation {
  filter: saturate(50%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* Tamaño de fuente por defecto */
  line-height: 1.5; /* Interlineado por defecto */
  word-spacing: 0.3em; /* Espaciado entre palabras por defecto */
  letter-spacing: 0.05em; /* Espaciado entre letras por defecto */
  transition: all 0.3s ease; /* Suaviza los cambios */
}

.header-bg {
  background-color: #181414;
}

header {
  padding: 5px 20px 2px;
  background-color: #041A1F;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "mobile logo login";
  align-items: center;
}

.nav-desktop {
  display: none;
}

.header-logo {
  grid-area: logo;
  text-align: center;
}

.header-logo img {
  width: 50px;
  transition: all 100ms;
}

.header-logo img:hover {
  transform: scale(1.03);
}

.login {
  grid-area: login;
  text-align: end;
}

.nav-mobile img {
  z-index: 2;
}

.login img, .nav-mobile img {
  width: 50px;
  transition: all 100ms;
}

.login img:hover, .nav-mobile img:hover {
  transform: scale(1.03);
}

.nav-mobile {
  grid-area: mobile;
  display: flex;
}

/* Estilos iniciales cuando el menú no está activo */
.dropdown-content {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 300px;
  padding: 60px 10px 20px;
  background-color: rgba(4, 26, 31, 0.6941176471);
  opacity: 0; /* Empieza siendo invisible */
  transform: translate(-100%, 0); /* Empieza en la esquina superior izquierda */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transición para movimiento y opacidad */
  pointer-events: none; /* Evita la interacción cuando está oculto */
  z-index: 1;
}

/* Estilos cuando el menú está activo */
.dropdown-content.active {
  opacity: 1; /* Visible */
  transform: translate(0, 0); /* Posición final */
  pointer-events: auto; /* Permite la interacción */
}

.dropdown-content li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
  padding: 0;
  height: 30px;
  border-radius: 50px;
  background-color: #BFA473;
  border-style: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  justify-content: center;
}
.dropdown-content li:hover {
  box-shadow: 0px 0px 10px 0px #BFA473;
  transform: scale(1.05);
}
.dropdown-content li .material-symbols-outlined {
  color: #041A1F;
  font-size: 30px;
}
.dropdown-content li .nombre-button {
  display: inline-block;
  width: 100px;
}

.dropdown-content a {
  display: inline-block;
  text-decoration: none;
  color: #041A1F;
}

.dropdown-content li:hover {
  box-shadow: 0px 0px 10px 0px rgba(4, 26, 31, 0.6941176471);
  transform: scale(1.03);
}

.accessibility-button {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  left: 10px;
  padding: 3.5px 3.5px 1px;
  border-radius: 50px;
  background-color: #BFA473;
  border-style: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1;
}
.accessibility-button:hover {
  box-shadow: 0px 0px 10px 0px #BFA473;
  transform: scale(1.05);
}
.accessibility-button .material-symbols-outlined {
  color: #041A1F;
  font-size: 30px;
}

/* Estilos iniciales cuando el menú de accesibilidad no está activo */
.accessibility-options {
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: rgba(4, 26, 31, 0.6941176471);
  padding: 60px 10px 20px;
  opacity: 0; /* Invisible inicialmente */
  transform: translate(-100%, 0); /* Empieza fuera de la vista, en la parte izquierda */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transición para el movimiento y opacidad */
  pointer-events: none; /* Evita la interacción cuando está oculto */
}

/* Estilos cuando el menú de accesibilidad está activo */
.accessibility-options.active {
  opacity: 1; /* Visible */
  transform: translateY(0); /* Se coloca en su posición final */
  pointer-events: auto; /* Permite la interacción */
}

.selected {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  height: 30px;
  border-radius: 50px;
  background-color: #BFA473;
  border-style: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 260px;
}
.selected:hover {
  box-shadow: 0px 0px 10px 0px #BFA473;
  transform: scale(1.05);
}
.selected .material-symbols-outlined {
  color: #041A1F;
  font-size: 30px;
}
.selected .nombre-button {
  display: inline-block;
  width: 100px;
}

/* Estilo básico para los controles */
.font-settings {
  margin: 15px;
  padding: 10px;
  background-color: #BFA473;
  border-radius: 15px;
}

.font-settings label {
  display: block;
  margin: 10px 0 5px;
}

.font-settings input[type=range] {
  width: 100%;
}

aside {
  position: fixed;
  z-index: 1;
}

main {
  flex-grow: 1;
  height: 55vh;
  background-image: url(../images/Fondo2.gif);
  background-size: 500px;
  background-attachment: fixed;
}

main > section {
  height: 100%;
}

footer {
  background-color: #041A1F;
  padding: 15px 20px 20px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

footer > div:nth-child(2) {
  justify-content: space-around;
}

footer > div:nth-child(2) > nav > ul {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  margin: 5px;
  margin-bottom: 20px;
}

footer img:hover {
  transform: scale(1.05);
}

footer h3, footer a {
  display: inline-block;
  color: #FDFEFA;
  font-size: 10px;
  font-weight: lighter;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

footer a {
  color: #FDFEFA;
}

@media screen and (min-width: 1050px) {
  header {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo desktop login";
  }
  .header-logo {
    text-align: left;
  }
  .nav-mobile {
    display: none;
  }
  .login img, .nav-mobile img {
    width: 50px;
    transition: all 100ms;
  }
  .login img:hover, .nav-mobile img:hover {
    transform: scale(1.05);
  }
  .nav-desktop {
    grid-area: desktop;
    display: flex;
    justify-content: center;
  }
  .nav-desktop > div > a {
    color: #BFA473;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    padding: 15px 15px 23px;
    background: linear-gradient(0deg, #BFA473 50%, transparent 50%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    transition: background-position 0.3s ease, color 0.5s ease;
    cursor: pointer;
  }
  .home > a:nth-child(1) {
    background-color: #BFA473;
    color: #041A1F;
  }
  .nav-desktop > div > a:hover {
    background-position: 100% 100%;
    color: #041A1F;
  }
  main {
    height: 90vh;
  }
  footer h3, footer a {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */