/* 
MARRON = #8F6B47
MARRON CLARO = #DF9D5D
CREMA = #F4D493
BEIGE = #ffecd3
AZUL = #001a57
 */

* {
  margin: 0;
  padding: 0;
}

header {
  padding: 5px 20px 2px;
  background-color: #8F6B47;
  display: grid;
  grid-template-columns: 1fr  4fr 1fr;
  grid-template-areas: "mobile logo login";
  align-items: center;
}

.nav-desktop {
  display: none;
}

.header-logo {
  grid-area: logo;
  text-align: center;
}

.header-logo img {
width: 50px;
}

.login {
  grid-area: login;
  text-align: end;
}

.login img, .nav-mobile img{
  width: 50px;
  transition: all 100ms;
}

.login img:hover, .nav-mobile img:hover {
  transform: scale(1.05);
}

.nav-mobile {
  grid-area: mobile;
  display: flex;
}

.nav-mobile li {
  display: none;
}



main {
  height: 80vh;
  background-image: url(../images/Fondo.gif);
  background-size: 500px;
  background-attachment: fixed;
}

main > div {
  height: 100%;
}




footer {
  background-color: #8F6B47;
  padding: 15px 20px 20px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

footer > div:nth-child(2) {
  justify-content:space-between;
}

footer > div > ul {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  margin: 5px;
  margin-bottom: 20px;
}

footer img:hover {
  transform: scale(1.05);
}

footer h3, footer a {
  display: inline-block;
  color: #ffecd3;
  font-family: 'Raleway';
  font-weight: lighter;
  font-size: 15px;
}



@media screen and (min-width: 900px) {
  header {
    grid-template-columns: 1fr  4fr 1fr;
    grid-template-areas: "logo desktop login";
  }

  .header-logo {
    text-align: left;

  }

  .header-logo img{
    width: 50px;
    transition: all 100ms;
  }

  .header-logo img:hover {
    transform: scale(1.1);
  }
  
  .nav-mobile {
    display: none;
  }
  
  .login img, .nav-mobile img{
    width: 50px;
    transition: all 100ms;
  }
  
  .login img:hover, .nav-mobile img:hover {
    transform: scale(1.05);
  }
  
  .nav-desktop {
    grid-area: desktop;
    display: flex;
    justify-content: center;
  }
  
  .nav-desktop > div > a {
    color: #ffecd3;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    padding: 15px 15px 21px;

    background: linear-gradient(0deg, #876343 50%, transparent 50%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    transition: background-position 0.3s ease, color 0.5s ease;
    cursor: pointer;
  }

  .home > a:nth-child(1){
    background-color: #876343;
  }

  .nav-desktop > div > a:hover {
    background-position: 100% 100%;
  }




  footer h3, footer a {
    font-size: 20px;
  }
}