@import 'variables'; 
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

/* Filtros */

.grayscale {
  filter: grayscale(100%);
}

.dark-contrast {
  filter: contrast(150%) brightness(50%);
}

.light-contrast {
  filter: contrast(120%) brightness(150%);
}

.high-saturation {
  filter: saturate(150%);
}

.low-saturation {
  filter: saturate(50%);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;  /* Tamaño de fuente por defecto */
  line-height: 1.5;  /* Interlineado por defecto */
  word-spacing: 0.3em;  /* Espaciado entre palabras por defecto */
  letter-spacing: 0.05em;  /* Espaciado entre letras por defecto */
  transition: all 0.3s ease; /* Suaviza los cambios */
}

header {
  padding: 5px 20px 2px;
  background-color: $rich-black;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "mobile logo login";
  align-items: center;
  padding: 5px;
}

header > div{
  margin: auto;
}

.nav-desktop {
  display: none;
}

.header-logo {
  grid-area: logo;
  text-align: center;
  height: 58px;
}

.header-logo img {
  width: 50px;
  transition: all 100ms; 
}

.header-logo img:hover {
  transform: scale(1.03);
}

.login {
  grid-area: login;
  text-align: end;
  height: 50px;
}

.login img, .nav-mobile img {
  width: 50px;
  transition: all 100ms;
}

.login img:hover, .nav-mobile img:hover {
  transform: scale(1.03);
}

// desplegable de mobile
.nav-mobile {
  grid-area: mobile;
  display: flex;
  justify-self: center;
}
.toggle-image{
  z-index: 2;
  height: 50px;
}

/* Estilos iniciales cuando el menú no está activo */
.dropdown-content {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 300px;
  padding: 60px 10px 20px;
  background-color: #041A1Fb1;
  opacity: 0; /* Empieza siendo invisible */
  transform: translate(-100%, 0); /* Empieza en la esquina superior izquierda */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transición para movimiento y opacidad */
  pointer-events: none; /* Evita la interacción cuando está oculto */
  z-index: 1;

  &.active { /* Anidamos el estado activo dentro de .dropdown-content */
    opacity: 1; /* Visible */
    transform: translate(0, 0); /* Posición final */
    pointer-events: auto; /* Permite la interacción */
  }
}

.indicator-mobile {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  color: $ecru;
  position: absolute;
  top: 11px;
  left: 85px;
}


header .selected{
  justify-content: center;
}

.selected .nombre-button{
  width: auto !important;

}

//accessibility
.accessibility-button {
  @include button-accessibility($ecru, $rich-black, $ecru, 30px);
  z-index: 2;
}

/* Estilos iniciales cuando el menú de accesibilidad no está activo */
.accessibility-options {
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #041A1Fb1;
  padding: 60px 10px 20px;
  opacity: 0; /* Invisible inicialmente */
  transform: translate(-100%, 0); /* Empieza fuera de la vista, en la parte izquierda */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transición para el movimiento y opacidad */
  pointer-events: none; /* Evita la interacción cuando está oculto */

  /* Estilos cuando el menú de accesibilidad está activo */
  &.active {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Se coloca en su posición final */
    pointer-events: auto; /* Permite la interacción */
  }
}



.selected{
  @include button-accessibility-options($ecru, $rich-black, $ecru, 30px, 10px);
  width: 260px;
}

/* Estilo básico para los controles */
.font-settings {
  margin: 15px;
  padding: 10px;
  background-color: $ecru;
  border-radius: 15px;

  label {
    display: block;
    margin: 10px 0 5px;
  }

  input[type="range"] {
    width: 100%;
  }
}





main{
  background-image: url(../images/Fondo2.gif);
  background-size: 500px;
  background-attachment: fixed;
}


footer {
  background-color: $rich-black;
  padding: 15px 20px 20px;

  & > div {
    display: flex;
    justify-content: right;

    &:nth-child(2) {
      display: flex;
      justify-content: space-evenly;
    }

    &:nth-child(2) > nav > ul {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

  li {
    display: inline-block;
  }

  img {
    width: 30px;
    margin: 5px;

    &:hover {
      transform: scale(1.05);
    }
  }

  h3, a {
    display: inline-block;
    @include text-style($baby-powder, 12px, lighter);
    font-size: 15px; 
  }

  a {
    color: $baby-powder;
  }
}


@media screen and (min-width: 950px) {
  header {
    grid-template-columns: 80px auto 80px;
    grid-template-areas: "logo desktop login";
  }

  .header-logo {
    text-align: left;
    margin: 0 10px;
  }
  .login{
    margin: 0 10px;
  }

  .nav-mobile {
    display: none;
  }

  .login img, .nav-mobile img {
    width: 50px;
    transition: all 100ms;
  }

  .login img:hover, .nav-mobile img:hover {
    transform: scale(1.05);
  }

  .nav-desktop {
    grid-area: desktop;
    display: flex;
    justify-content: center;

    & > div > a {
      @include text-style($ecru, 20px);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-decoration: none;
      padding: 15px 15px 23px;
  
      background: linear-gradient(0deg, $ecru 50%, transparent 50%);
      background-size: 200% 200%;
      background-position: 100% 0%;
      transition: background-position 0.3s ease, color 0.5s ease;
      cursor: pointer;

      &:hover {
        background-position: 100% 100%;
        color: $rich-black;
      }
    }
  }
}
