@import 'variables'; 
@import 'mixins';

main {
  flex-grow: 1;
  height: 55vh;
  background-image: url(../images/Fondo2.gif);
  background-size: 500px;
  background-attachment: fixed;
}

main > section {
  height: 100%;
}

.home > a:nth-child(1) {
  background-color: $ecru;
  color: $rich-black;
}