@import 'variables';
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  main {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
  }
  .toolbox {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 100%;
    height: 100px;
    background-color: rgba($color: $ecru, $alpha: 0.7);
    z-index: 1;
  }
  .toolbox div {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    color: $baby-powder;
    background-color: $rich-black;
    border-radius: 5px;
    cursor: move;
  }
  .toolbox .news-select{
    position: absolute;
    right: 10px;
    padding: 7px;
  }
  .toolbox .news-select select{
    padding: 5px 10px;
    border-radius: 5px;
    color: $rich-black;
    background-color: $baby-powder;
  }
  .builder{
    display: flex;
    flex-grow: 1;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .row-container {
    width: 100%;

  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .column {
    width: 100%;
    min-height: 100px;
    border: 1px dashed #ccc;
    padding: 10px;
    background-color: #fafafa;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .column.half {
    width: 48%;
  }
  .element, .column > input {
    padding: 10px;
    background-color: $dun;
    border: 1px solid $ecru;
    white-space: nowrap; 
    overflow: hidden;
    cursor: move;
  }
  .element p {
    margin: 0;
    word-wrap: break-word;
    white-space: normal; 
    width: 100%; /* Asegura que ocupe todo el ancho */
  }
  .element img {
    max-width: 100%;
  }
  .delete-row-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: $rich-black;
    color: $baby-powder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .delete-row-btn:hover {
    background-color: $ecru;
  }
  .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 10px;
    min-width: 100%;
    background-color: rgba($color: $ecru, $alpha: 0.7);
  }
  .options select, .options input{
    border-radius: 5px;
    padding: 5px 10px;
    color: $rich-black;
    background-color: $baby-powder;
  }
  .options-form{
    display: flex;
    flex-direction: row;
  }
  .options-form > div{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .options-form label{
    margin-bottom: 5px;
  }
  input[type=checkbox] {
    transform: scale(1.5);
    margin: 5px;
    width: 23px;
    height: 23px; 
    cursor: pointer;
  }
  .options-button{
    margin-top: 20px;
  }
  .options-button > button{
    margin: 5px 0;
    padding: 10px;
    color: $baby-powder;
    background-color: $rich-black;
    border-radius: 5px;
  }