//estilos para los botones
@mixin button($bg-color, $text-color, $border-color, $border-color-hover, $width: 90px) {
  margin: 50px auto 20px;
  padding: 5px 20px;
  border-radius: 2px;
  width: $width;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: all 100ms;
  border: 2px solid $border-color;

  &:hover {
    border: 2px solid $border-color-hover;
    box-shadow: 0px 0px 10px 0px $bg-color;
  }

  &:focus {
    outline: none;
    border: 2px solid $border-color-hover;
    box-shadow: 0px 0px 10px 0px $bg-color;
  }
}


//estilos para los textos
@mixin text-style($color, $font-size, $font-weight: normal, $line-height: 1.5) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: "Roboto", sans-serif;
}