@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 5px 20px 2px;
  background-color: $rich-black;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "mobile logo login";
  align-items: center;
}

.nav-desktop {
  display: none;
}

.header-logo {
  grid-area: logo;
  text-align: center;
}

.header-logo img {
  width: 50px;
  transition: all 100ms;  
}

.header-logo img:hover {
  transform: scale(1.03);
}

.login {
  grid-area: login;
  text-align: end;
}

.login img,
.nav-mobile img {
  width: 50px;
  transition: all 100ms;
}

.login img:hover,
.nav-mobile img:hover {
  transform: scale(1.03);
}

.nav-mobile {
  grid-area: mobile;
  display: flex;
}

.nav-mobile li {
  display: none;
}

main {
  flex-grow: 1;
  background-image: url(../images/Fondo2.gif);
  background-size: 500px;
  background-attachment: fixed;
  padding: 20px 5px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

main > div {
  position: relative;
  filter: drop-shadow(0 0 0);
  flex-grow: 4;
  transition: all 300ms;
}

main > div > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

main > div:hover {
  filter: drop-shadow(0px 0px 5px $ecru);
}

main > div > h2 {
  @include text-style($rich-black, 15px, lighter);
  text-shadow: 1px 1px 2px $ecru;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

footer {
  background-color: $rich-black;
  padding: 15px 20px 20px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

footer > div:nth-child(2) {
  justify-content: space-around;
}

footer > div > ul {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  margin: 5px;
  margin-bottom: 20px;
}

footer img:hover {
  transform: scale(1.05);
}

footer h3,
footer a {
  display: inline-block;
  @include text-style($baby-powder, 10px, lighter);
}

footer a {
  color: $baby-powder;
}

@media screen and (min-width: 950px) {
  header {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo desktop login";
  }

  .header-logo {
    text-align: left;
  }

  .nav-mobile {
    display: none;
  }

  .login img,
  .nav-mobile img {
    width: 50px;
    transition: all 100ms;
  }

  .login img:hover,
  .nav-mobile img:hover {
    transform: scale(1.05);
  }

  .nav-desktop {
    grid-area: desktop;
    display: flex;
    justify-content: center;
  }

  .nav-desktop > div > a {
    @include text-style($ecru, 20px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    padding: 15px 15px 23px;

    background: linear-gradient(0deg, $ecru 50%, transparent 50%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    transition: background-position 0.3s ease, color 0.5s ease;
    cursor: pointer;
  }

  .portfolio > a:nth-child(1) {
    background-color: $ecru;
    color: $rich-black;
  }

  .nav-desktop > div > a:hover {
    background-position: 100% 100%;
    color: $rich-black;
  }

  footer h3,
  footer a {
    font-size: 20px;
  }
}
